  <mat-card>
    <h2 class="title">Personal Details</h2>
    <table mat-table [dataSource]="[stylerole]" class="mat-elevation-z8">
      <ng-container matColumnDef="Firstname">
        <th mat-header-cell *matHeaderCellDef> Firstname </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.firstName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Secondname">
        <th mat-header-cell *matHeaderCellDef> Secondname </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.SecondName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ContactNumber">
        <th mat-header-cell *matHeaderCellDef> ContactNumber </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.phonenumber}} </td>
      </ng-container>
  
      <ng-container matColumnDef="DOB">
        <th mat-header-cell *matHeaderCellDef> DOB </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.dateOfBirth}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.gender}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['Firstname', 'Secondname', 'ContactNumber', 'DOB', 'Gender']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['Firstname', 'Secondname', 'ContactNumber', 'DOB', 'Gender'];"></tr>
   
    </table>
  </mat-card>
  
  <mat-card>
    <h2 class="title">Address Details</h2>
    <table mat-table [dataSource]="[stylerole]" class="mat-elevation-z8">
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Address-1">
        <th mat-header-cell *matHeaderCellDef> Address-1 </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.address}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Address-2">
        <th mat-header-cell *matHeaderCellDef> Address-2 </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.address}} </td>
      </ng-container>
  
      <ng-container matColumnDef="City">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.city}} </td>
      </ng-container>
  
      <ng-container matColumnDef="State">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.state}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Pincode">
        <th mat-header-cell *matHeaderCellDef> Pincode </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.pincode}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['Email', 'Address-1', 'Address-2', 'City', 'State', 'Pincode']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['Email', 'Address-1', 'Address-2', 'City', 'State', 'Pincode'];"></tr>

    </table>
  </mat-card>
  
  <mat-card>
    <h2 class="title">Cricket Details</h2>
    <table mat-table [dataSource]="[stylerole]" class="mat-elevation-z8">
      <ng-container matColumnDef="Playerrole">
        <th mat-header-cell *matHeaderCellDef> Playerrole </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.playerrole}} </td>
      </ng-container>
  
      <ng-container matColumnDef="BattingStyle">
        <th mat-header-cell *matHeaderCellDef> BattingStyle </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.battingStyle}} </td>
      </ng-container>
  
      <ng-container matColumnDef="BattingPosition">
        <th mat-header-cell *matHeaderCellDef> BattingPosition </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.battingposition}} </td>
      </ng-container>
  
      <ng-container matColumnDef="BowlingStyle">
        <th mat-header-cell *matHeaderCellDef> BowlingStyle </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.bowlingStyle}} </td>
      </ng-container>
  
      <ng-container matColumnDef="StatePlayedFor">
        <th mat-header-cell *matHeaderCellDef> StatePlayedFor </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.statePlayedFor}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['Playerrole', 'BattingStyle', 'BattingPosition', 'BowlingStyle','StatePlayedFor']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['Playerrole', 'BattingStyle', 'BattingPosition', 'BowlingStyle','StatePlayedFor'];"></tr>
    </table>
  </mat-card>
  
  <mat-card>
    <h2 class="title">Document Details</h2>
    <table mat-table [dataSource]="[stylerole]" class="mat-elevation-z8">
      <ng-container matColumnDef="Photo">
        <th mat-header-cell *matHeaderCellDef> Photo </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.photo}} </td>
      </ng-container>
  
      <ng-container matColumnDef="IdentityProof">
        <th mat-header-cell *matHeaderCellDef> IdentityProof </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.identityProof}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['Photo', 'IdentityProof']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['Photo', 'IdentityProof'];"></tr>
    </table>
  </mat-card>
  