<!-- <button (click)="Getdata1()" *ngIf="!response" class="btn btn-primary">PlayerDatas</button>
<div *ngIf="response">
    <form #userForm="ngForm" (ngSubmit)="addmovies(userForm.value)">
        <input type="text" ngModel name="Playername" placeholder="PlayerName">
        <br><br>      
        <input type="number" ngModel name="Age" placeholder="Enter Age">
        <br><br>
        <input type="tel" ngModel name="ContactNumber" placeholder="ContactNumber">
        <br><br>
        <input type="date" ngModel name="DOB" placeholder="DOB">
        <br><br>
            <input type="radio" ngModel name="Gender" placeholder="Gender">
            <br><br>
        <button>Add New Data</button>
      </form>
      <br><br>



<table class="table table-striped">
    <thead>
        <tr>
            <th>PlayerName</th>
            <th>Age</th>
            <th>ContactNumber</th>
            <th>DOB</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of response">
            <td>{{ product.Playername }}</td>
            <td>{{ product.Age }}</td>
            <td>{{ product.ContactNumber }}</td>
            <td>{{ product.DOB }}</td>
            <td>{{ product.Gender }}</td>
           <td>
            <button (click)="editmovies(product.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                </svg>
              </button>
              <button (click)=" getDeletemovies(product.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg></button></td>
        </tr>
    </tbody>
    <br><br>
    <thead>
        <tr>
            <th>Email</th>
            <th>Address1</th>
            <th>Address2</th>
            <th>city</th>
            <th>state</th>
            <th>pincode</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of response">
            <td>{{ product.email }}</td>
            <td>{{ product.Address1 }}</td>
            <td>{{ product.Address2 }}</td>
            <td>{{ product.city }}</td>
            <td>{{ product.state }}</td>
            <td>{{ product.pincode }}</td>
           <td>
            <button (click)="editmovies(product.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                </svg>
              </button>
              <button (click)=" getDeletemovies(product.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg></button></td>
        </tr>
    </tbody>
</table> -->

<!-- <div>
    <h2 class="title">Personal Details</h2>
    <table class="center">
      <tr>
        <th>PlayerName</th>
        <th>Age</th>
        <th>ContactNumber</th>
        <th>DOB</th>
        <th>Gender</th>
      </tr>
      <tr>
        <td data-label="PlayerName">{{stylerole?.PlayerName}}</td>
        <td data-label="Age">{{stylerole?.age }}</td>
        <td data-label="ContactNumber">{{stylerole?.phonenumber }}</td>
        <td data-label="DOB">{{stylerole?.dateOfBirth }}</td>
        <td data-label="Gender">{{stylerole?.gender }}</td>
      </tr>
    </table>
  </div>

  <div>
    <h2 class="title">Address Details</h2>
    <table class="center">
      <tr>
        <th>Email</th>
        <th>Address-1</th>
        <th>Address-2</th>
        <th>City</th>
        <th>State</th>
        <th>Pincode</th>
      </tr>
      <tr>
        <td data-label="PlayerName">{{stylerole?.email}}</td>
        <td data-label="Age">{{stylerole?.address }}</td>
        <td data-label="ContactNumber">{{stylerole?.address }}</td>
        <td data-label="DOB">{{stylerole?.city }}</td>
        <td data-label="Gender">{{stylerole?.state }}</td>
        <td data-label="Gender">{{stylerole?.pincode }}</td>
      </tr>
    </table>
  </div>

  <div>
    <h2 class="title">Cricket Details</h2>
    <table class="center">
      <tr>
        <th>Role</th>
        <th>Batting Style</th>
        <th>Batting Position</th>
        <th>Bowling Style</th>
      </tr>
      <tr>
        <td data-label="PlayerName">{{stylerole?.battingStyle}}</td>
        <td data-label="Age">{{stylerole?.bowlingStyle }}</td>
        <td data-label="ContactNumber">{{stylerole?.battingposition }}</td>
        <td data-label="DOB">{{stylerole?.playerrole }}</td>
      </tr>
    </table>
  </div>

  
  <div>
    <h2 class="title">Document Details</h2>
    <table class="center">
      <tr>
        <th>Photo</th>
        <th>Identity Proof</th>
      </tr>
      <tr>
        <td data-label="PlayerName">{{stylerole?.photo}}</td>
        <td data-label="Age">{{stylerole?.identityProof }}</td>
      </tr>
    </table>
  </div> -->

  <mat-card class="mat-elevation-z4">
    <h2 class="mat-title">Personal Details</h2>
    <table mat-table [dataSource]="[stylerole]" class="mat-elevation-z8">
      <ng-container matColumnDef="PlayerName">
        <th mat-header-cell *matHeaderCellDef> Player Name </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.PlayerName}} </td>
      </ng-container>
      
      <ng-container matColumnDef="Age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.age}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ContactNumber">
        <th mat-header-cell *matHeaderCellDef> Contact Number </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.phonenumber}} </td>
      </ng-container>
  
      <ng-container matColumnDef="DOB">
        <th mat-header-cell *matHeaderCellDef> DOB </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.dateOfBirth}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.gender}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['PlayerName', 'Age', 'ContactNumber', 'DOB', 'Gender']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['PlayerName', 'Age', 'ContactNumber', 'DOB', 'Gender'];"></tr>
    </table>
  </mat-card>
  
  <mat-card class="mat-elevation-z4">
    <h2 class="mat-title">Address Details</h2>
    <table mat-table [dataSource]="[stylerole]" class="mat-elevation-z8">
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.email}} </td>
      </ng-container>
      
      <ng-container matColumnDef="Address1">
        <th mat-header-cell *matHeaderCellDef> Address 1 </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.address}} </td>
      </ng-container>
      
      <ng-container matColumnDef="Address2">
        <th mat-header-cell *matHeaderCellDef> Address 2 </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.address}} </td>
      </ng-container>
  
      <ng-container matColumnDef="City">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.city}} </td>
      </ng-container>
  
      <ng-container matColumnDef="State">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.state}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Pincode">
        <th mat-header-cell *matHeaderCellDef> Pincode </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.pincode}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['Email', 'Address1', 'Address2', 'City', 'State', 'Pincode']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['Email', 'Address1', 'Address2', 'City', 'State', 'Pincode'];"></tr>
    </table>
  </mat-card>
  
  <mat-card class="mat-elevation-z4">
    <h2 class="mat-title">Cricket Details</h2>
    <table mat-table [dataSource]="[stylerole]" class="mat-elevation-z8">
      <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.battingStyle}} </td>
      </ng-container>
  
      <ng-container matColumnDef="BattingStyle">
        <th mat-header-cell *matHeaderCellDef> Batting Style </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.bowlingStyle}} </td>
      </ng-container>
  
      <ng-container matColumnDef="BattingPosition">
        <th mat-header-cell *matHeaderCellDef> Batting Position </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.battingposition}} </td>
      </ng-container>
  
      <ng-container matColumnDef="BowlingStyle">
        <th mat-header-cell *matHeaderCellDef> Bowling Style </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.playerrole}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['Role', 'BattingStyle', 'BattingPosition', 'BowlingStyle']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['Role', 'BattingStyle', 'BattingPosition', 'BowlingStyle'];"></tr>
    </table>
  </mat-card>
  
  <mat-card class="mat-elevation-z4">
    <h2 class="mat-title">Document Details</h2>
    <table mat-table [dataSource]="[stylerole]" class="mat-elevation-z8">
      <ng-container matColumnDef="Photo">
        <th mat-header-cell *matHeaderCellDef> Photo </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.photo}} </td>
      </ng-container>
  
      <ng-container matColumnDef="IdentityProof">
        <th mat-header-cell *matHeaderCellDef> Identity Proof </th>
        <td mat-cell *matCellDef="let element"> {{stylerole.identityProof}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['Photo', 'IdentityProof']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['Photo', 'IdentityProof'];"></tr>
    </table>
  </mat-card>
  


  


