<div class="main">
    <div class="row bgimage">
        <div class="col-md-6 col-sm-12 d-flex justify-content-center cricform ">
            <!-- <a routerLink="/u19form">U19 Reg Form</a> -->
            <div class="card" style="width: 18rem;">
                <img src="assets/Image4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">U19 Registration Form</h5>
                  <p class="card-text">Please make sure to read the following rules before filling out the U19 Registration Form:</p>
                  <ul class="card-text">
                      <li>Age range between 15-19.</li>
                      <li>Participants are required At least five domestic matches or
                          any type of five quota matches must be played.</li>
                  </ul>
                  <a routerLink="/u19form" class="btn btn-primary">U19 Reg Form</a>
                </div>
              </div>
        </div>
        <div class="col-md-6 col-sm-12 d-flex justify-content-center cricform1">
            <!-- <a routerLink="/ranjiform">Ranji Reg Form</a> -->
            <div class="card" style="width: 18rem;">
                <img src="assets/Image4.jpg"class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ranji Trophy RegistrationForm</h5>
                  <p class="card-text">Please make sure to read the following rules before filling out the Ranji Registration Form:</p>
                  <ul class="card-text">
                    <li>Participants must be older than 20 years.</li>
                    <li>"Participants must have played a minimum of five quota matches of any format.</li>
                  </ul>
                  <a routerLink="/ranjiform" class="btn btn-primary">Ranji Trophy Form</a>
                </div>
              </div>
        </div>
    </div>  
</div>