
<div class="live-scores-tab">
    <!-- <h2>Live Cricket Scores</h2> -->
    <div *ngIf="homedata?.length > 0; else noScores">
      <div *ngFor="let score of homedata" class="score-item">
        <p><strong>{{ score.name }}</strong></p>
        <p>Date: {{ score.date }}</p>
        <p>Type: {{ score.matchType }}</p>
        <p>Status: {{ score.matchStarted ? 'In Progress' : score.matchEnded ? 'Ended' : 'Not Started' }}</p>
        <p>Time: {{ score.dateTimeGMT | date: 'short' }}</p>
        <p *ngIf="score.matchStarted ">{{score?.score[0]?.inning}}: {{ score?.score[0]?.r }} / {{ score?.score[0]?.w }} in {{ score?.score[0]?.o }} overs</p>
        <p *ngIf="score.matchStarted ">{{score?.score[1]?.inning}}: {{ score?.score[1]?.r }} / {{ score?.score[1]?.w }} in {{ score?.score[1]?.o }} overs</p>
        <p>Status: {{ score.status }}</p>
      </div>
    </div>
    <ng-template #noScores>
      <p>No Matches available at the this moment.</p>
    </ng-template>
  </div>